body {
  font-family: "Lobster", cursive;
  margin: 0;
  padding: 0;
}

.game-area {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  padding: 10px 0;
  background-color: #1a374d;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.game-area div {
  width: 84px;
  height: 84px;
  background-color: bisque;
  font-size: 64px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 4px 1px 0.1em black;
}

.score-container {
  display: flex;
  position: absolute;
  gap: 10px;
  font-size: 32px;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.main-container {
  width: 840px;
  height: 840px;
  position: relative;
}

.game-title {
  display: flex;
  font-size: 36px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -30%);
}
